# Mackoy & Sarah Project Title Here 
## Sub Heading Here 
### Description of Project (Goals, Stakes, Summarize Findings Here)

In [2]:
# NOTE TO SELVES 
"""
stake holder: residential real estate 
we can fram our analysis around pitching high end house vs. middle class housing 
PRICE WILL ALWAYS BE OUR DEPENDENT VARI 
indepentdent variables include but are not limitied  to: waterfront, beds & baths, grade (sarah loves zipcodes so i can experiment with those on my own <3)

        2015 is our most recent year, our data just covers 1 year p  much 2014-2015
        
9/11 update: price, sqft_living, zipcode, living15, lot15, bedrooms, bathrooms, floors, keep condition & grade,  yr_built 

we can feature engineer a bedroom/bathroom ratio 

"""

'\nstake holder: residential real estate \nwe can fram our analysis around pitching high end house vs. middle class housing \nPRICE WILL ALWAYS BE OUR DEPENDENT VARI \nindepentdent variables include but are not limitied  to: waterfront, beds & baths, grade (sarah loves zipcodes so i can experiment with those on my own <3)\n\n'

# Importing Necessary Libraries & Loading Data

In [1]:
#importing libraries 
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression

In [2]:
import pandas as pd

data = pd.read_csv('data/kc_house_data.csv')
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

# Data Exploration

In [3]:
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [4]:
#check for missing data 
data.info()
#waterfront missing 2,376
#view missing 63 values
#year reno missing 3,842


# date is an object --> put that into date time 
# sqft_basement is an object --> put that into numeric & there aree also missing valyes (bc there is no basement)
#whats up with year reno 
#water front has missing too 
# we can dummy: 
    # water front 
    # condition 
    # grade
    # zipcode

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [5]:
# looking at correlations 

potential_corrs = data.corr()['price'].map(abs).sort_values(ascending=False)
potential_corrs

#looks like: price & sqft_living has the biggest impact also sqft_above, bathroom is p good

price            1.000000
sqft_living      0.701917
sqft_above       0.605368
sqft_living15    0.585241
bathrooms        0.525906
bedrooms         0.308787
lat              0.306692
floors           0.256804
yr_renovated     0.129599
sqft_lot         0.089876
sqft_lot15       0.082845
yr_built         0.053953
zipcode          0.053402
long             0.022036
id               0.016772
Name: price, dtype: float64

#  Data Cleaning Here

In [6]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [16]:
#data cleaning considerations --> only use the number from the grade column
separator = ' '
df['grade'] = df['grade'].str.split(separator, 1)[0]

ValueError: Length of values (2) does not match length of index (21597)

In [12]:
# lets start cleaning! get your mop & broom! 

#make a copy of the dataset, we never want to overwrite our OG data 
df = data.copy()
#dropping unnecessary columns 
df = df.drop(columns = ['sqft_basement', 'yr_renovated', 'lat', 'long', 'view', 'condition', 'waterfront'])
#convert date to date time 
df['date'] = pd.to_datetime(data['date'])

#let's get dummmy for our cat variables: grade

"""
dropping basement bc there was a lot of missing
dropping reno bc there was a lot missing 
dropping lat & long bc we don't need them --> going with zipcode 
dropping view & waterfront bc waterfront had 19k with none & view doesn't really mean anything 
dropping condition bc a lack of spread 
drop sqftbasement bc of too many missing values & lack of data sic 
"""
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  datetime64[ns]
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   grade          21597 non-null  object
 9   sqft_above     21597 non-null  int64
 10  yr_built       21597 non-null  int64
 11  zipcode        21597 non-null  int64
 12  sqft_living15  21597 non-null  int64
 13  sqft_lot15     21597 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(9), object(1)
memory usage: 2.3+ MB

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,grade,sqft_above,yr_built,zipcode,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,7 Average,1180,1955,98178,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,7 Average,2170,1951,98125,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,6 Low Average,770,1933,98028,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,7 Average,1050,1965,98136,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,8 Good,1680,1987,98074,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,8 Good,1530,2009,98103,1530,1509
21593,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,8 Good,2310,2014,98146,1830,7200
21594,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,7 Average,1020,2009,98144,1020,2007
21595,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,8 Good,1600,2004,98027,1410,1287
21596,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,7 Average,1020,2008,98144,1020,1357

In [ ]:
#lets dummy zip code!

# Lets start running some regressions  now (after cleaning)

In [15]:
df['grade'].value_counts(ascending=False)

7 Average        8974
8 Good           6065
9 Better         2615
6 Low Average    2038
10 Very Good     1134
11 Excellent      399
5 Fair            242
12 Luxury          89
4 Low              27
13 Mansion         13
3 Poor              1
Name: grade, dtype: int64