# Mackoy & Sarah Project Title Here 
## Sub Heading Here 
### Description of Project (Goals, Stakes, Summarize Findings Here)

In [2]:
# NOTE TO SELVES 
"""
stake holder: residential real estate 
we can fram our analysis around pitching high end house vs. middle class housing 
PRICE WILL ALWAYS BE OUR DEPENDENT VARI 
indepentdent variables include but are not limitied  to: waterfront, beds & baths, grade (sarah loves zipcodes so i can experiment with those on my own <3)


"""

'\nstake holder: residential real estate \nwe can fram our analysis around pitching high end house vs. middle class housing \nPRICE WILL ALWAYS BE OUR DEPENDENT VARI \nindepentdent variables include but are not limitied  to: waterfront, beds & baths, grade (sarah loves zipcodes so i can experiment with those on my own <3)\n\n'

# Importing Necessary Libraries & Loading Data

In [4]:
#importing libraries 
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression

In [5]:
import pandas as pd

df = pd.read_csv('data/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

# Data Exploration

In [8]:
#check for missing data 
df.info()
#waterfront missing 2,376
#view missing 63 values
#year reno missing 3,842


# date is an object --> put that into date time 
# sqft_basement is an object --> put that into numeric
# we can dummy: 
    # water front 
    # view 
    # condition 
    # grade
    # zipcode

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [11]:
# looking at correlations 

#wine_corrs = wine.corr()['quality'].map(abs).sort_values(ascending=False)

potential_corrs = df.corr()['price'].map(abs).sort_values(ascending=False)
potential_corrs

#looks like: price & sqft_living has the biggest impact

price            1.000000
sqft_living      0.701917
sqft_above       0.605368
sqft_living15    0.585241
bathrooms        0.525906
bedrooms         0.308787
lat              0.306692
floors           0.256804
yr_renovated     0.129599
sqft_lot         0.089876
sqft_lot15       0.082845
yr_built         0.053953
zipcode          0.053402
long             0.022036
id               0.016772
Name: price, dtype: float64

#  Data Cleaning Here

In [12]:
# lets start cleaning! get your mop & broom!

# Lets start running some regressions  now (after cleaning)